.header {
    min-width: 300px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.header_logo {
    flex-grow: 0;
    box-sizing: border-box;
}

.header_title {
    flex-grow: 2;
}
.login_block{
    flex-grow: 0;
    margin-right: 15px;
    margin-top: 20px;
}

.logo {
    width: 55px;
    margin: 10px;
    display: inline-block;
}

.hed {
    color: rgba(255, 255, 255, 0.5);
}
.login_title{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.81);
}