.container{
    min-width: 300px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: white;
}