.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialog {
    display: block;

}

.item > a {
    font-size: 1.3em;
}

.message {
    /*margin: 10px 0 10px 10px;*/
    font-size: 1.2em;
    /*padding: 10px;*/
    color: white;
}
